@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;

  --primary: #f1f1f1;
  --secondary: rgba(18, 18, 18, 0.4);
  --tertiary: rgba(120, 91, 13, 0.8);
}

* {
  /* border: 1px solid red; */
  transition: all;
  transition-duration: 300ms;
  scrollbar-width: thin;
}


html {
  scroll-behavior: smooth;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
