.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  /* border: 1px solid #cdb45f; */
  padding: 4px;
  width: 100%;

  background-color: #282828;
  color:#fff4da
}

.navbarItem {
  text-align: center;
  min-width: 100px;
  /* border: 1px solid #cdb45f; */
  /* border-radius: 5px; */
  padding: 10px;
  margin: 8px;
  transition: 800ms;
}

.navbarItem:hover {
  transition: 200ms;
  background-color: #bfa85c;
  /* border: 1px solid #cdb45f; */
  font-weight: bold;
  color: #000;
}

.titleDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
  min-height: 100vh;

  text-align: center;
  align-content: center;
  justify-content: center;
  /* border: 2px solid #ff0000; */
}

.titleInnerDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 90%;
  min-height: 50vh;

  text-align: center;
  align-content: center;
  justify-content: center;

  padding: 10px;
  /* border: 2px solid #ff0000; */

}

.bgLogo {
  object-fit: contain;
  /* width: 30vw; */
  padding: 50px;

  z-index: -1;
  opacity: 0.3;

}

.titleText {
  /* border: 1px solid #000; */
  font-family: "algerian";
  font-size: 8vw;
  letter-spacing: 4px;
  line-height: 12vw;
  /* border: 2px solid #ff0000; */

}

.titleLetter {
  transition: 800ms;
}

.titleLetter:hover {
  transition: 200ms;
  font-size: 10vw;
  color: #7c6313;
}

.titleLetter::selection {
  background: black;
  color: #cdb45f;
}

.titleSubtext {
  margin-top: 20px;
  font-style: italic;
  font-size: 2vw;
  transition: 200ms;
}

.titleSubtextWord {
  transition: 800ms;
  padding: 1vw;
}

.titleSubtextWord:hover {
  background-color: #d6c077;
  color: #000;
  transition: 100ms;
}

.titleSubtextWord::selection {
  background: black;
  color: #cdb45f;
}
/* 
.linkToDescription {
  padding: 10px;
  border: 1px solid #7c6313;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  transition: 800ms;
}

.linkToDescription:hover {
  background-color: #7c6313;
  fill: #fff;
  transition: 200ms;
  letter-spacing: 2px;
} */

.descriptionDiv {
  width: 100%;
  min-height: 50vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid #000; */

  background-color: #f5f4e6;
  padding: 40px;
}

.mapDiv {
  min-width: 90%;
  max-width: 100%;
  min-height: auto;
  border-radius: 8px;
  border: none;
}

.descriptionSubDiv {
  max-width: 600px;
  /* min-height:0vh; */

  justify-content: center;
  align-content: center;
  padding: 2vw;

  /* border: 1px solid #000; */
  background-color: #d0c5b3;

}

.contactSubDiv {
  max-width: 600px;
  /* min-height:0vh; */

  justify-content: center;
  align-content: center;

  /* border: 1px solid #000; */
  /* background-color: #816332; */
  color: #000000;

}

.boxBorder {
  border: 1px solid #000   ;
}

.descriptionText {
  /* padding: 4vw; */
  font-size: 1.2vw;
  line-height: 4vw;
}

.descriptionSpecialText {
  font-weight: 400;
  font-size: 2vw;

  letter-spacing: 0.2vw;
}

.productSearchDiv {  
  max-width: 1000px;
  min-height: 400px;
  
  justify-content: center;
  align-content: center;
  
  font-weight: 300;
  font-size: 24px;
  /* border: 1px solid #000; */
}

.productSearchSubDiv {
  max-width: 700px;
  margin: 2vw;
}

.productSearchInput {
  font-size: 2vw;

  padding: 2vw;
  max-width: 90%;
  /* width: 700px; */
  height: auto;
  
  background-color: #ebddb6c3;
  
  border: 1px solid #fff;
  transition: 200ms;

}

.productLink {
  text-decoration: none;
  background-color: #000;
  color: #eddca4;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: 200ms;
  line-height: 42px;
}

.productLink:hover {
  transition: 200ms;
  /* border: 1px solid #000; */
  background-color: #d6c077;
  font-weight: 500;
  letter-spacing: 2px;
  color: #000;
}


.productSearchInput:focus {
  border: 1px solid #000;
  transition: 200ms;

}


.footer {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #282828;
  color: #e7dbae;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 20px;
  justify-content: center;
  align-content: center;
  font-size: small;
}

.footerLink {
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
}

.footerLink:hover {
  font-weight: bold;
}